<html>
  <head>
    <title>Our Game - Sign In</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="/socket.io/socket.io.js?x76964"></script>
  </head>
  <body>
    <table rules="cols" align="center" cellpadding="10">
      <tr>
        <td>
          <h1 align="center">Sign In</h1>
          <div id="version">Version: 1.0.</div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="ErrorSignIn"><span id="InErr"></span></div>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <a id="nick">Nick:</a>
          <br>
          <input type="text" id="nickname" class="button" class="input_text">
          <br>
          <input type="button" id="btn" value="Join" class="button">
        </td>
      </tr>
    </table>

  </body>
  <script src="/static/index.js?x76964"></script>
</html>
