#log{
    border: 4px solid black; /* Параметры границы */
  /*  background: #fff; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    width: 300px;
    height: 500px;
    font-family: PixelMono;
    background-image: url("/images/wood2.jpg");
}

#ui{
    border: 4px solid black; /* Параметры границы */
    background: #000; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */

    font-family: PixelMono;
  /*  background-image: url("/images/brick.jpg");*/
    background-repeat: repeat-x;
}

.button {
  background-color: #4CAF50; /* Green */
  border: 4px solid black;
  background-image: url("/images/wood2.jpg");
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.input_text {
  background-color: #4CAF50; /* Green */
  border: 4px solid black;
  background-image: url("/images/wood2.jpg");
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


@font-face {
  font-family: Pixel;
  src: url(/fonts/pixel.ttf);
}

@font-face {
  font-family: PixelMono;
  src: url(/fonts/pixelmono.ttf);
}

body {
  font-family: Pixel !important;
  color: #fff;
  background-image: url("/images/background.jpg");
}
